<div class="card-container settings-container">
  <div class="card settings-card">
    <div class="wat">
      <div class='heading'>
        <div class="title">Settings</div>
        <div class='profile-photo'>
          <img src="<%= @current_user.photo_url %>" alt="Profile Photo">
        </div>
      </div>
      <hr class='header-hr' />
      <%= form_tag(settings_path, method: "put") do %>
        <div class="form-group item-fade selected">
          <%= label_tag(:phone, class: 'block') do %>
            Phone Number
          <% end %>
          <%= phone_field_tag("phone", @current_user.phone, required: true, maxlength: 14, pattern: ".{14}", placeholder: "(###) ###-####", onkeyup: "phoneInput(event)") %>
        </div>
        <hr>
        <div class="form-group item-fade selected">
          <%= label_tag(:email, class: 'block') do %>
            Email
          <% end %>
          <%= email_field_tag("email", @current_user.email, placeholder: 'e.g. you@email.com', required: true) %>
        </div>
        <hr>
        <div class="buttons">
          <%= link_to "Back", root_path, class: "btn btn-info settings-back-btn" %>
          <%= submit_tag("Save", { class: 'btn btn-info settings-save-btn' }) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
