<div class="card-container">
  <div class="card">
    <div class="settings-icon">
      <!-- <%= link_to image_tag("settings.png", class: "settings-image"), settings_path %> -->
    </div>
    <div class="text-container">
      <div class="title">HummingBear Tub</div>
      <% if @current_record.present? %>
        <div class="date"><%= @current_time.strftime("%a %B #{@current_time.day.ordinalize} at %l:%M%p") %></div>
        <div class="temp"><%= @current_record.temperature.to_i %>°</div>
      <% else %>
        <div class="date"><%= @current_time.strftime("%a %B #{@current_time.day.ordinalize} at %l:%M%p") %></div>
        <div class="no-temp">Sorry, current temperature isn't available</div>
        <div class="shrug">¯\_(ツ)_/¯</div>
      <% end %>
    </div>
    <div class="time-of-day-icon">
      <% if @daytime %>
        <%= image_tag "day.png", class: "time-of-day-icon-image" %>
      <% else %>
        <%= image_tag "night.png", class: "time-of-day-icon-image" %>
      <% end %>
    </div>
  </div>
</div>
