<div class="card-container">
  <div class="card">
    <div class="settings-icon">
      <%= link_to image_tag("settings.png", class: "settings-image"), settings_path %>
    </div>
    <div class="text-container">
      <div class="title">SOMA Tub</div>
      <div class="date"><%= @current_record.recorded_at.in_time_zone("Pacific Time (US & Canada)").strftime("%a %B #{@current_record.recorded_at.day.ordinalize} at %l:%M%p") %></div>
      <div class="temp"><%= @current_record.temperature.to_i %>°</div>
    </div>

    <div class="time-of-day-icon">
      <% if @daytime %>
        <%= image_tag "day.png", class: "time-of-day-icon-image" %>
      <% else %>
        <%= image_tag "night.png", class: "time-of-day-icon-image" %>
      <% end %>
    </div>
  </div>
</div>
